<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Debuggers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/newevents.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7d0e898fba.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/aea9fc94ab.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon"/>
  </head>
  <body>





    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <a class="navbar-brand" href="/"><i class="fas fa-bug icon"></i><p class="brand_name">Debuggers</p></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/events"><p class="about_nav_text">Events</p></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/doubtforum"><p class="meet_nav_text">Doubt Forum</p></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/"><p class="contact_nav_text">Profile</p></a>
          </li>

          <!-- <li class="nav-item">
          <a class="nav-link" href="/LogIn"><p class="login_nav_text">Login</p></a>
        </li>  -->

      </ul>
    </div>
    </nav>


<div class="main-section">
  <section class="left-div">
    <div class="left-div-container">
      <div class="categories-txt">
        <h4>Categories</h4>
      </div>
      <div class="categories-list">
        <ul>
          <a href="#"><li>All <i class="fas fa-list"></i></li></a>
          <a href="#"><li>Technology <i class="fas fa-tv"></i></li></a>
          <a href="#"><li>Research <i class="fas fa-atom"></i></li></a>
          <a href="#"><li>Internship <i class="fas fa-graduation-cap"></i></li></a>
          <a href="#"><li>Marketing <i class="fas fa-shopping-cart"></i></li></a>
        </ul>
      </div>
    </div>
  </section>
  <section class="mid-div">

<div class="mid-div-top">
  <div class="mid-top-container">
     <h6 class="space">Showing</h6> <div class="selector space"><select name="posts-count" id="postsnum">
    <option value="p12">1-12</option>
    <option value="p4">1-24</option>
    <option value="p54">1-54</option>
    <option value="pall">1-102</option>
  </select>
</div>
<h6 class="space">of 102 Posts</h6>
  </div>


<div class="search-div">
  <div class="search-bar">
    <input type="text" name="" value="" placeholder="Search.."><button><i class="fas fa-search"></i></button>
  </div>
</div>

</div>

<div class="mid-div-posts">


    <div class="mid-div-posts-container">


          <%for(var i=0;i<5;i++){%>

          <div class="posts-row row">



              <div class="col-lg-6 post-col">
                <div class="post">
                  <div class="post-container">
                    <div class="image-container">
                      <div class="img-container-inner">
                        <img src="https://images.pexels.com/photos/976866/pexels-photo-976866.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                      </div>
                    </div>
                    <div class="post-details">
                      <div class="genre-container">
                        <h5>Technology</h5>
                        <div class="genre-icons">
                            <i class="fas fa-share-alt n-ic"></i>
                            <i class="far fa-bookmark n-ic"></i>
                        </div>
                      </div>

                      <div class="title-container">
                        <h4>Title goes here..</h4>
                      </div>
                      <div class="read-more">
                        <p><a href="#">Read more..</a></p>
                      </div>

                      <div class="user-details">
                        <div class="user-name">
                          <div class="user-img-container">
                            <img src="https://scontent.fdel1-2.fna.fbcdn.net/v/t1.0-9/83219598_1280190498857198_5424995061551071232_o.jpg?_nc_cat=104&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=7VccmVIk7hsAX8ehs_u&_nc_ht=scontent.fdel1-2.fna&oh=9f6c0ab57d403881ad2f96cbef04af56&oe=606BF152" alt="">
                          </div>
                          <div class="username">
                            <h5>Faisal Ali Khan</h5>
                          </div>
                        </div>
                      </div>
                      <div class="date-container">
                        <h6>09/March/2021</h6>
                      </div>

                    </div>
                  </div>
                </div>
              </div>




              <div class="col-lg-6 post-col">
                <div class="post">
                  <div class="post-container">
                    <div class="image-container">
                      <div class="img-container-inner">
                        <img src="https://images.pexels.com/photos/976866/pexels-photo-976866.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
                      </div>
                    </div>
                    <div class="post-details">
                      <div class="genre-container">
                        <h5>Technology</h5>
                        <div class="genre-icons">
                            <i class="fas fa-share-alt n-ic"></i>
                            <i class="far fa-bookmark n-ic"></i>
                        </div>
                      </div>

                      <div class="title-container">
                        <h4>Title goes here..</h4>
                      </div>
                      <div class="read-more">
                        <p><a href="#">Read more..</a></p>
                      </div>

                      <div class="user-details">
                        <div class="user-name">
                          <div class="user-img-container">
                            <img src="https://scontent.fdel1-2.fna.fbcdn.net/v/t1.0-9/83219598_1280190498857198_5424995061551071232_o.jpg?_nc_cat=104&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=7VccmVIk7hsAX8ehs_u&_nc_ht=scontent.fdel1-2.fna&oh=9f6c0ab57d403881ad2f96cbef04af56&oe=606BF152" alt="">
                          </div>
                          <div class="username">
                            <h5>Faisal Ali Khan</h5>
                          </div>
                        </div>
                      </div>
                      <div class="date-container">
                        <h6>09/March/2021</h6>
                      </div>

                    </div>
                  </div>
                </div>
              </div>















          </div>


          <%}%>





    </div>







</div>




  </section>
  <section class="right-div">
    <div class="left-div-container">
      <div class="categories-txt">
        <a href="#"><div class="categories-txt-div">
          <h5> Trending Posts </h5>
          <div class="icon-right">
            <i class="fas fa-chart-line"></i>
          </div>
        </div></a>
        <a href="#"><div class="categories-txt-div">
          <h5>Recent Posts</h5>
          <div class="icon-right">
            <i class="fas fa-calendar-week"></i>
          </div>
        </div></a>
        <a href="#"><div class="categories-txt-div">
            <h5>Archived Posts </h5>
          <div class="icon-right">
            <i class="far fa-bookmark"></i>
          </div>
        </div></a>



      </div>

    </div>
  </section>
</div>









































<%- include('partials/footer-events') %>
