<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Debuggers</title>
    <link rel="stylesheet" href="/css/events.css">
    <script src="https://kit.fontawesome.com/7d0e898fba.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/aea9fc94ab.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>


<div class="top-section">
  <section class="left-block">
    hello
  </section>
  <section class="mid-block">
    hello
  </section>
  <section class="right-block">
    <div class="house-div">
      <div class="house-div-img">
        <img src="https://getmyuni.azureedge.net/college-image/big/national-institute-of-technology-nit-kurukshetra.jpg" alt="">
        </div>
        <ol class="list">
          <li class="list-element">Gryffindor <span> 2000  <i class="fas fa-coins"></i></span></li>
          <li class="list-element">Slytherin  <span> 1870  <i class="fas fa-coins"></i></span></li>
          <li class="list-element">Ravenclaw  <span> 1500  <i class="fas fa-coins"></i></span></li>
          <li class="list-element">Hufflepuff  <span> 790  <i class="fas fa-coins"></i></span></li>
        </ol>

    </div>
  </section>

</div>





  </body>
</html>
