<!DOCTYPE html>
<html>
    <head>
        <title>Profile_form</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/form.css">
    </head>
    <body>
        <div class="main_div">
            <div class="row back_main_div">
                <div class="back_left_div">

                </div>
                <div class="back_right_div">
                    <div class="design-1">

                    </div>
                    <div class="design-2">

                    </div>
                    <div class="design-3">

                    </div>
                    <div class="design-4">

                    </div>
                    <div class="design-5">

                    </div>
                    <div class="design-6">

                    </div>
                </div>
            </div>
            <div class="row front_main_div">
                <div class="col-0 col-md-4 front_left_div">

                </div>
                <div class="col-12 col-md-8 front_right_div">
                    <div class="profile_heading_div">
                        <h2 class="profile_heading_text">Profile</h2>
                        <!--<div class="profile_photo_div">-->
                        <img class="profile_photo" src="https://cutt.ly/rki7z0g">
                        <!--</div>-->
                    </div>
                    <div class="row main_row">
                        <div class="col-5 main_row_left_div">
                            <div class="name_div">
                                <p class="input_heading">Name</p>
                                <input type="text" class="name_input" placeholder="Enter your name" name="name">
                            </div>
                            <div class="branch_div">
                                <p class="input_heading">Branch</p>
                                <div class="dropdown_one">
                                    <input class="dropdown_one_button" type="text" placeholder="Enter your branch" name="branch">
                                    <div class="dropdown_one_content">
                                        <a href="#" class="dropdown_one_content_list">Computer Science</a>
                                        <a href="#" class="dropdown_one_content_list">Information Technology</a>
                                        <a href="#" class="dropdown_one_content_list">Electronics and Communication</a>
                                        <a href="#" class="dropdown_one_content_list">Elecrical</a>
                                        <a href="#" class="dropdown_one_content_list">Mechanical</a>
                                        <a href="#" class="dropdown_one_content_list">Civil</a>
                                        <a href="#" class="dropdown_one_content_list">Production</a>
                                    </div>
                                </div>
                            </div>
                            <div class="genre_div">
                                <p class="input_heading">Genre</p>
                                <div class="dropdown_two">
                                    <input class="dropdown_two_button" type="text" placeholder="Enter genre you are interested in" name="genre">
                                    <div class="dropdown_two_content">
                                        <span class="d-block menu-option"><label><input class="checkbox" type="checkbox">Research</label></span>
                                        <span class="d-block menu-option"><label><input class="checkbox" type="checkbox">Technology</label></span>
                                        <span class="d-block menu-option"><label><input class="checkbox" type="checkbox">Intership</label></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-5 main_row_right_div">
                            <div class="roll_div">
                                <p class="input_heading">Roll No.</p>
                                <input type="text" class="roll_input" placeholder="Enter your roll number" name="roll">
                            </div>
                            <div class="mail_div">
                                <p class="input_heading">Mail</p>
                                <input type="text" class="mail_input" placeholder="Enter your mail" name="mail">
                            </div>
                            <div class="password_div">
                                <p class="input_heading">Password</p>
                                <input type="text" class="password_input" placeholder="Enter your password" name="password">
                            </div>
                        </div>
                    </div>
                    <div class="gender_div">
                        <div class="gender_heading_div">
                            <p class="gender_heading_text">Gender</p>
                        </div>
                        <div class="gender_table">
                            <input type="radio" name="gender" class="male_radio" value="male">
                            <p class="male_radio_text">Male</p>
                            <input type="radio" name="gender" class="female_radio" value="female">
                            <p class="female_radio_text">Female</p>
                            <input type="radio" name="gender" class="other_radio" value="other">
                            <p class="other_radio_text">Other</p>
                        </div>
                    </div>
                    <!--<div class="submit_div">-->
                        <a href="#"><button class="submit_button">Submit</button></a>
                    <!---</div>-->
                </div>
            </div>
        </div>
    </body>

</html>
<!--© 2021 GitHub, Inc.-->
