<!DOCTYPE html>
<html>
    <head>
        <title>Profile_form</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" href="css\form.css">
    </head>
    <body>
        <div class="back_main_div">
            <div class="first_back_div">

            </div>
            <div class="second_back_div">

            </div>
        </div>
        <div class="front_main_div">
            <div class="front_left_div">

            </div>
            <div class="main_div">
                <div class="main_div_head">
                    <h1 class="profile_text">Profile</h1>
                </div>
                <div class="left_part_div">
                    <div class="name_div">
                        <p class="input_heading">Name</p>
                        <input type="text" class="name_input" placeholder="Enter your name">
                    </div>
                    <div class="branch_div">
                        <p class="input_heading">Branch</p>
                        <div class="dropdown_one">
                            <input class="dropdown_one_button" type="text" placeholder="Enter your branch">
                            <div class="dropdown_one_content">
                                <a href="#" class="dropdown_one_content_list">Computer Science</a>
                                <a href="#" class="dropdown_one_content_list">Information Technology</a>
                                <a href="#" class="dropdown_one_content_list">Electronics and Communication</a>
                                <a href="#" class="dropdown_one_content_list">Elecrical</a>
                                <a href="#" class="dropdown_one_content_list">Mechanical</a>
                                <a href="#" class="dropdown_one_content_list">Civil</a>
                                <a href="#" class="dropdown_one_content_list">Production</a>
                            </div>
                        </div>
                    </div>
                    <div class="skillset_div">
                        <p class="input_heading">Skills</p>
                        <div class="dropdown_two">
                            <span class="dropdown_two_span">
                            <input type="text" class="dropdown_two_button" placeholder="Enter your skillset">
                            <div class="dropdown_two_content">
                                <a href="#" class="dropdown_two_content_list">Web Design</a>
                                <a href="#" class="dropdown_two_content_list">Deep Learning</a>
                                <a href="#" class="dropdown_two_content_list">Digital Image Processing</a>
                                <a href="#" class="dropdown_two_content_list">Machine Learning</a>
                            </div>
                            </span>
                        </div>
                    </div>
                    <div class="mail_div">
                        <p class="input_heading">Mail</p>
                        <input type="text" class="mail_input" placeholder="Enter your mail">
                    </div>
                </div>
                <div class="right_part_div">
                    <div class="roll_div">
                        <p class="input_heading">Roll No.</p>
                        <input type="text" class="roll_input" placeholder="Enter your roll number">
                    </div>
                    <div class="genre_div">
                        <p class="input_heading">Genre</p>
                        <div class="dropdown_three">
                            <input class="dropdown_three_button" type="text" placeholder="Enter the Genre you are interested in">
                            <div class="dropdown_three_content">
                                <a href="#" class="dropdown_three_content_list">Research</a>
                                <a href="#" class="dropdown_three_content_list">Technology</a>
                                <a href="#" class="dropdown_three_content_list">Jo bharna hai bharo yaar</a>
                            </div>
                        </div>
                    </div>
                    <div class="password_div">
                        <p class="input_heading">Password</p>
                        <input type="text" class="password_input" placeholder="Enter your password">
                    </div>
                </div>
                <div class="gender_div">
                    <p class="input_heading">Gender</p>
                    <div class="gender_input">
                        <input type="radio" name="gender" class="male_radio" value="male">
                        <p class="male_radio_text">Male</p>
                        <input type="radio" name="gender" class="female_radio" value="female">
                        <p class="female_radio_text">Female</p>
                    </div>
                </div>
                <div class="submit_div">
                    <a href="#"><button class="submit_button">Submit</button></a>
                </div>
            </div>
        </div>
    </body>
</html>
