<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gossip Room</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/gossip.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7d0e898fba.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/aea9fc94ab.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon"/>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <a class="navbar-brand" href="/"><i class="fas fa-bug icon"></i><p class="brand_name">Debuggers</p></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/gossip"><p class="about_nav_text">Gossip Room</p></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events"><p class="about_nav_text">Events</p></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/doubtforum"><p class="meet_nav_text">Doubt Forum</p></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/"><p class="contact_nav_text">Profile</p></a>
          </li>

          <!-- <li class="nav-item">
          <a class="nav-link" href="/LogIn"><p class="login_nav_text">Login</p></a>
        </li>  -->

      </ul>
    </div>
    </nav>

<body>


  <div class="main-div">

    <div class="main-div-container">

        <div class="gossip-box-div">


        <div class="gossip-box-left">

          <div class="gossip-left-container">
            <div class="gossip-room-txt">
              <h3>GoSSip Room</h3>
            </div>

            <div class="create-new-group">
              <button >
                <div class="create-inner">
                  <i class="fas fa-plus"></i>Create New Room
                </div>
              </button>

            </div>

            <div class="gossip-groups">
              <ul>
                <li>
                  <div class="group-div">
                    <div class="group-logo">
                      <div class="group-logo-container">
                        <img src="https://domainadvisors.com/wp-content/uploads/2020/12/chill-logo.jpg" alt="">
                      </div>
                    </div>
                    <div class="group-name">
                      <h5>Chill & BC</h5>
                    </div>

                    <div class="group-mem">
                      49 members
                    </div>
                  </div>
                </li>
                <li>
                  <div class="group-div">
                    <div class="group-logo">
                      <div class="group-logo-container">
                        <img src="https://edzcelperk.files.wordpress.com/2010/03/2nd-year.jpg?w=584" alt="">
                      </div>
                    </div>
                    <div class="group-name">
                      <h5>2nd Yearites</h5>
                    </div>

                    <div class="group-mem">
                      129 members
                    </div>
                  </div>
                </li>
                <li>
                  <div class="group-div">
                    <div class="group-logo">
                      <div class="group-logo-container">
                        <img src="https://ikneadtoeat.com/wp-content/uploads/2019/01/Masala-Chai-Recipe-1.jpg" alt="">
                      </div>
                    </div>
                    <div class="group-name">
                      <h5>Chai pe Charcha</h5>
                    </div>

                    <div class="group-mem">
                      8 members
                    </div>
                  </div>
                </li>
              </ul>
            </div>

          </div>

        </div>


        <div class="gossip-box-right">

          <div class="gossip-box-right-container">
            <div class="right-top">
              <div class="right-group-name">
                <div class="group-logo">
                  <div class="group-logo-container">
                    <img src="https://ikneadtoeat.com/wp-content/uploads/2019/01/Masala-Chai-Recipe-1.jpg" alt="">
                  </div>
                </div>
                <div class="group-name">
                  <h5>Chai pe Charcha</h5>
                </div>
              </div>
              <div class="leave-room">
                Leave Room
              </div>
            </div>

            <div class="right-body">

              <div class="right-body-container">

                <div class="messages-container">

                  <% for(var i = 0; i< 7 ; i++){ %>
                  <div class="message-div-ot">
                    <div class="message">
                      <div class="user-profile-img-div">
                        <div class="user-img">
                          <img src="https://cdn.discordapp.com/attachments/838125123579674627/838125273340968960/IMG_20210418_140748_Bokeh.jpg" alt="">
                        </div>
                      </div>
                      <div class="message-text">
                          Hello everyone! How are you?
                      </div>
                    </div>
                  </div>

                  <%}%>


                  <div class="messages-div-user">
                    <div class="message">

                      <div class="message-text msg-txt-user">
                          Hi This is Faisal, I am good, wbu?
                      </div>
                      <div class="user-profile-img-div">
                        <div class="user-img msg-user">
                          <img src="https://scontent.fbek1-1.fna.fbcdn.net/v/t1.6435-9/83219598_1280190498857198_5424995061551071232_n.jpg?_nc_cat=104&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=90zBEATtGmUAX-Hl0DX&_nc_ht=scontent.fbek1-1.fna&oh=0c13467d1ee46605aac068fcc08c1b60&oe=60B4AAB4" alt="">
                        </div>
                      </div>
                    </div>
                  </div>

                </div>


              </div>




              <div class="send-msg-div">

                <div class="send-msg-container">


                  <div class="send-msg-input">
                    <input type="text" name="" value="" placeholder="Type your message...">
                  </div>

                  <div class="send-msg-btn">
                      <button type="button" name="button"><i class="far fa-paper-plane"></i></button>
                  </div>


                </div>
              </div>
         

            </div>



          </div>
        </div>

        </div>




    </div>



  </div>















<%- include('partials/footer-gossip')%>
