<%- include('partials/header') -%>




 <div class="header-container">
   <div class="row ">
     <div class="col-lg-6 col-sm-12 text">
         <h1>Welcome to Debuggers</h1>
         <p>Debuggers aims to make you feel more fully a part of your college. </p>
        <div class="get_started"><a href="/SignUp">Get Started</a></div>
     </div>

     <div class="col-lg-6 col-sm-0 photo">
        <img src="/assets/ui.png" alt="">
        <div class="photo-bg">

        </div>
     </div>
   </div>
 </div>




<%- include('partials/footer') -%>
