<%- include('partials/header') -%>




 <div class="header-container">
   <div class="row " id="top-scroll">
     <div class="col-lg-6 col-sm-12 text">
         <h1>Welcome to Debuggers</h1>
         <p>Debuggers aims to make you feel more fully a part of your college. </p>
        <div class="get_started"><a href="/SignUp">Get Started</a></div>
     </div>

     <div class="col-lg-6 col-sm-0 photo">
        <img src="/assets/ui.png" alt="">
        <div class="photo-bg">

        </div>
     </div>
   </div>
 </div>


 <section>
   <div class="section-container2">
     <div class="row">
       <div class="col-md-5">
         <div class="second-block-img">
           <img src="/assets/second-block.svg" alt="">
         </div>
       </div>
       <div class="col-md-7">
         <div class="second-block">
         <div>
           Talk and connect to people who experienced it first hand
         </div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
         </div>
       </div>

     </div>
   </div>

 </section>



<section>
  <div class="section-container">

    <div class="row">

      <div class="col-md-7 ">
        <div class="first-block">
        <div>
          Get acquainted with what's happening around in college
        </div>

       <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

      </div>

      <div class="col-md-5">
        <div class="first-block-img">
          <img src="/assets/first-block.svg" alt="">
        </div>

      </div>

    </div>
  </div>

</section>

  <section>
    <div class="section-container3">
      <div class="row">
        <div class="col-md-5 ">
          <div class="third-block-img">
            <img src="/assets/third-block.svg" alt="">
          </div>
        </div>
        <div class="col-md-7">
          <div class="third-block">
          <div>
            Get help from seniors, professors, and colleagues when you find yourself in unfamiliar situations.
          </div>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>

      </div>
    </div>

  </section>



 <section>
   <div class="section-container4">

     <div class="row">

       <div class="col-md-7 ">
         <div class="fourth-block">
         <div>
           Make your dream team for your project or research work.
         </div>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
         </div>

       </div>

       <div class="col-md-5">
         <div class="fourth-block-img">
           <img src="/assets/fourth-block.svg" alt="">
         </div>

       </div>

     </div>
   </div>

 </section>




<section id="team-section">
  <div class="team">
      <div class="team-container">
        <div class="team-title">
          OUR TEAM
        </div>

        <div class="team-blocks">
         <div class="row" id="row">
           <div class="col-sm-3 col-12 person">
             <div class="thumbnail thumbnail0">
                <img class="before0" src="https://cdn.discordapp.com/attachments/802147732658716672/804975352552226856/Hemant_Lakhotia_2020.jpg" alt="">
                <img class="loading0" src="https://media.giphy.com/media/ySpxjJmsq9gsw/source.gif" alt="">
                <div class="person-title">
                  <h4>Hemant Lakhotia</h4>
                <p>Android Developer/Co-Founder</p>
                </div>
             </div>

           </div>
           <div class="col-sm-3 col-12 person">
             <div class="thumbnail thumbnail1">
                <img class="before1"src="https://media.discordapp.net/attachments/802147732658716672/805063210344513536/IMG_20191008_150413-01.jpeg?width=469&height=670" alt="">
                <img class="loading1" src="https://media.giphy.com/media/gLcUG7QiR0jpMzoNUu/giphy.gif" alt="">
                <div class="person-title">
                  <h4>Faisal Ali Khan</h4>
                <p>Full Stack Developer</p>
                </div>
             </div>
           </div>
           <div class="col-sm-3 col-12 person">
             <div class="thumbnail thumbnail2">
                <img class="before2" src="https://media.discordapp.net/attachments/802147732658716672/804983459428696114/20210130_132440.jpg?width=441&height=670" alt="">
                <img class="loading2" src="https://media.giphy.com/media/XE1cLqA94WFTOWqfn1/source.gif" alt="">
                <div class="person-title">
                  <h4>Nikhil Ratta</h4>
                <p>Full Stack Developer/Co-Founder</p>
                </div>
             </div>

           </div>
           <div class="col-sm-3 col-12 person">
             <div class="thumbnail thumbnail3">
                <img class="before3" src="https://cdn.discordapp.com/attachments/802147732658716672/805063875253895218/IMG-20210130-WA0009.jpg" alt="">
                <img class="loading3" src="https://media.giphy.com/media/1KrM2hhDN3dgk/source.gif" alt="">
                <div class="person-title">
                  <h4>Ayushman Vashishtha</h4>
                <p>Web Frontend Developer</p>
                </div>
             </div>
           </div>
         </div>
        </div>
      </div>


  </div>
</section>
<section class="next">
  <div class="team2">
      <div class="team-container">
        <div class="team-blocks">
         <div class="row" id="row2">
              <div class="col-lg-3 col-12 person">
                <div class="thumbnail thumbnail4 ">
                   <img class="before4" src="https://media.discordapp.net/attachments/802147732658716672/805076367112011776/image0.jpg?width=425&height=670" alt="">
                   <img class="loading4" src="https://media.giphy.com/media/3oEdv1EbS2Ss1NvrUc/source.gif" alt="">
                   <div class="person-title">
                     <h4>Muskaan Hooda</h4>
                   <p>Content Writer</p>
                   </div>
                </div>
              </div>

            <div class="bug">
              <img class="bug-img" src="/assets/bug.jpg" alt="">
            </div>

           </div>

          </div>

        </div>

  </div>
</section>

<section>
  <div class="contact-us" id="contact-section">
      <div class="row" id="row3">
        <div class="col-lg-5 contact-section">
          <form action="#" method="post">
          <div class="contact-text">
            <h1>Contact Us</h1>
          </div>
          <div class="contact-input-name">
            <input type="text" name="" value="" placeholder="Name">
          </div>
          <div class="contact-input-email">
            <input type="text" name="" value="" placeholder="Email">
          </div>
          <div class="contact-input-msg">
            <input type="text" name="" value="" placeholder="Type your message...">
          </div>

          <div class="contact-button">
            <button type="submit" name="button">Send</button>
          </div>
        </form>
        <div class="contact-mailid">
          debuggers.nitkkr@gmail.com
        </div>
        </div>


        <div class="col-lg-7 map-section">
            <div id="map"> <iframe class = "frame" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6914.201968205313!2d76.8160896!3d29.9477738!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390e3f51801954b5%3A0x14d79f026b1ae4ec!2sNational%20Institute%20of%20Technology%2C%20Kurukshetra!5e0!3m2!1sen!2sin!4v1612088309822!5m2!1sen!2sin" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></div>
        </div>
      </div>
  </div>
</section>

 <footer>
   <div class="footer">
     <div class="back-to-top back-top">
       Back to top <i class="fas fa-chevron-circle-up" id="top-icon" href="#top-scroll"></i>
     </div>
     <div class="social">
       Social
     </div>
     <div class="social-icons">
      <div class="social-icons-container">
        <a href="https://www.linkedin.com/company/debuggers-corporate"><div class="linkedin"></div></a>
        <a href="https://twitter.com/Debuggers18"><div class="twitter"></div></a>
        <a href="https://www.instagram.com/debuggers_corporate/"><div class="instagram"></div></a>
        <a href="#"><div class="facebook"></div></a>
      </div>
     </div>
     <div class="copyright">
       Copyright 2021 - Debuggers. All Rights Reserved
     </div>
     <div class="copyright2">
       Terms and Condition
     </div>
   </div>

 </footer>

<script type="text/javascript" src="/javascript/home.js"></script>
<script type="text/javascript" src="/javascript/lib/jquery.js"></script>
<script type="text/javascript" src="/javascript/home_team.js"></script>


<%- include('partials/footer') -%>
