<%- include('partials/header') -%>
<div class="nav-container">
  <div class="wrapper">
    <nav>
      <div class="logo">
        Debuggers
      </div>

      <ul class="nav-items">
        <li>
          <a href="#">Contact Us</a>
        </li>
        <li>
          <a href="/login">Log In</a>
        </li>
        <li>
          <a href="#">Sign Up</a>
        </li>
      </ul>
    </nav>
  </div>

</div>



 <div class="header-container">
   <div class="row">
     <div class="col-lg-6 col-sm-12 text">
         <h1>Welcome to Debuggers</h1>
         <p>We aim to provide a better solution to every problem</p>
        <div class="get_started"><a href="#">Get Started</a></div>
     </div>

     <div class="col-lg-6 col-sm-0 photo">
        <img src="/assets/ui.png" alt="">
        <div class="photo-bg">

        </div>
     </div>
   </div>
 </div>




<%- include('partials/footer') -%>
