<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Debuggers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/newProfile.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/7d0e898fba.js" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/aea9fc94ab.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon"/>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <a class="navbar-brand" href="/"><i class="fas fa-bug icon"></i><p class="brand_name">Debuggers</p></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/events"><p class="about_nav_text">Events</p></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/doubtforum"><p class="meet_nav_text">Doubt Forum</p></a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/"><p class="contact_nav_text">Profile</p></a>
          </li>

          <!-- <li class="nav-item">
          <a class="nav-link" href="/LogIn"><p class="login_nav_text">Login</p></a>
        </li>  -->

      </ul>
    </div>
    </nav>



    <div class="top-profile">
      <div class="top-profile-container">
        <section class="profile-img">
            <div class="profile-img-container">
              <div class="camera">
                <i class="fas fa-camera-retro"></i>
              </div>
              <img src="https://scontent.fdel1-2.fna.fbcdn.net/v/t1.0-9/83219598_1280190498857198_5424995061551071232_o.jpg?_nc_cat=104&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=7VccmVIk7hsAX9tYkAy&_nc_ht=scontent.fdel1-2.fna&oh=e84ee6495bc0e172a39134194f7356e5&oe=606BF152" alt="">
            </div>
        </section>
        <section class="mid-profile">
            <div class="mid-profile-container">
              <div class="mid-details">
                <h2>Faisal Ali Khan</h2>
                <h4>Electronics & Communication Engineering</h4>
                <h5>B.Tech 2nd Yr</h5>
                <h5>NIT KURUKSHETRA</h5>
              </div>
              <div class="mid-block">
                <div class="mid-block-container">
                 <div class="followers">
                   1100 Followers
                 </div>
                 <div class="followers">
                   110 Following
                 </div>
                 <div class="followers">
                  + Follow
                 </div>

                </div>
              </div>
            </div>
        </section>
        <section class="right-profile">
          <div class="right-profile-container">
            <div class="search">
              <div class="search-bar">
                <input type="text" name="" value="" placeholder="Search.."><button><i class="fas fa-search"></i></button>
              </div>
            </div>

            <div class="icons">
                <div class="icons-container">
                  <div class="icon1">
                    <i class="fab fa-linkedin-in"></i>
                  </div>
                  <div class="icon1">
                    <i class="fab fa-github"></i>
                  </div>
                  <div class="icon1">
                    <i class="fab fa-facebook"></i>
                  </div>
                  <div class="icon1">
                    <i class="fab fa-instagram"></i>
                  </div>
                </div>
            </div>
            <div class="send-message">
              <div class="send-msg-container">
                <div class="message">
                  <div>
                    <i class="fas fa-envelope-open"></i>  Send Message
                  </div>

                </div>
                <div class="log-out">
                  <a href="/logOut"><i class="fas fa-sign-out-alt"></i></a>
                </div>
                <span class="log-out-text">Log Out</span>
              </div>

            </div>
          </div>
        </section>
      </div>
    </div>


    <div class="features-div">
      <div class="features-div-container">
        <div class="left-features-div">
          <div class="left-features-container">
            <ul>
              <li class="l-item" id="about">About</li>
              <li class="l-item" id="skills">Skills</li>
              <li class="l-item" id="genre">Genre</li>
              <li class="l-item" id="interests">Interests</li>
            </ul>
          </div>
        </div>
        <div class="display-features-div">

          <div class="display-container">
            <div class="about">
              <div class="about-container">
                <h3>About</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
              </div>
            </div>
            <div class="skills">
              <div class="skills-container">
                <h3>Skills</h3>
                <div class="ul-container row">
                  <ul class="ul-conc col-lg-3">
                    <li class="skill-box">Web Development</li>
                    <li class="skill-box" >ROS</li>
                    <li class="skill-box">UI/UX</li>
                  </ul>
                  <ul class="ul-conc col-lg-3">
                    <li class="skill-box">Web Development</li>
                    <li class="skill-box" >ROS</li>
                    <li class="skill-box">UI/UX</li>
                  </ul>
                  <ul class="ul-conc col-lg-3">
                    <li class="skill-box">Web Development</li>
                    <li class="skill-box" >ROS</li>
                    <li class="skill-box">UI/UX</li>
                  </ul>
                  <ul class="ul-conc col-lg-3">
                    <li class="skill-box">Web Development</li>
                    <li class="skill-box" >ROS</li>
                    <li class="skill-box">UI/UX</li>
                  </ul>
                </div>

              </div>
            </div>
            <div class="genre">
                <div class="genre-container">
                  <h3>Genre</h3>
                    <div class="ul-container row">
                      <ul class="ul-conc col-lg-3">
                        <li class="skill-box">Technology</li>
                        <li class="skill-box" >Research</li>
                        <li class="skill-box">Internship</li>
                      </ul>
                    </div>
                </div>
            </div>
            <div class="interests">
                <div class="interests-container">
                  <h3>Interests</h3>
                  <p>I am interested in WebDevelopment, Robotics etc.</p>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>




    <div class="image-inp-popup">
      <div class="popup-container">
        <div class="popup-triangle">

        </div>
        <div class="popup">
          <div class="popup-top">
            <h4>Upload an Image</h4>
            <div class="cross">
              <i class="fas fa-times"></i>
            </div>
          </div>
          <div class="popup-body">
            <div class="form-div">
              <form class="" action="/editImage" enctype="multipart/form-data" method="post">


                <input class="user-img-input" type="file" name="profileImage" accept="image/*" />

                <div class="img-display">
                  <img src="" alt="" class="img-display-img">
                  <span class="default-txt">Preview Image</span>
                </div>
                <div class="image-btn"><button type="submit" name="button">Upload</button></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>



<%- include('partials/footer-profile')%>
