<!DOCTYPE html>
<html>
  <head>
    <title>Debuggers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/nav.css">

    <link href="https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/7d0e898fba.js" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/aea9fc94ab.js" crossorigin="anonymous"></script>
        <link rel="icon" href="/assets/favicon.ico" type="image/x-icon"/>
  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="/"><i class="fas fa-bug icon"></i><p class="brand_name">Debuggers</p></a>
        </nav>

      <section class="top">

         <input class="search-bar" type="text" name="" value="" placeholder="Search..">
         <i class="fas fa-search search-visible" id="search-icon"></i> 

      </section>
      <section>
      <div class="user-container">
        <section class="user-left-block">
            <div class="user-photo">
              <img src="https://cutt.ly/rki7z0g" alt="">

              <span class="user-photo-edit">
                <i class="fas fa-camera"></i>
              </span>
            </div>

            <div class="user-name">
              <h5>Faisal Ali Khan</h5>
              <p>Electronics & Communication</p>
            </div>

            <div class="followers">
              <h6>Followers</h6>
              <p>2300  <i class="far fa-heart"></i></p>
            </div>
            <div class="following">
              <h6>Following</h6>
              <p>230 <i class="far fa-heart"></i></p>
            </div>
        </section>
        <section class="user-mid-block">
            <div class="user-about">
              <div class="user-about-text">
                <h4>About</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad  tation ull mmodo consequat. Duis aute irure dolor in reprehenderit in voluptate vel
            </div>
            <div class="user-features">
              <span>Genre :</span>  <span class="features-span">Technology</span>  <span class="features-span">Research</span>
            </div>

            <div class="user-features">
              <span>Skills :</span>  <span class="features-span">Web-Development</span> <span class="features-span">UI/UX Designing</span> <span class="features-span">Android-Development</span>
            </div>

            </div>


            <section>
              <div class="user-post">
                <div class="user-post-header">
                  <section><img src="https://cutt.ly/rki7z0g" alt=""></section>
                  <section id="user"> Faisal Ali Khan  <p> 5 min ago</p>    <span id ="edit"> <i class="fas fa-ellipsis-h edit-btn"></i>  <div class="post-click">
                      <div class="pin-post">
                          <button type="button" name="button">Pin Post</button>
                      </div>
                      <div class="delete-post">
                          <button type="button" name="button">Delete Post</button>
                      </div>
                    </div></span>

                  </section>
                </div>

                <div class="user-post-body">
                    <div class="post-body-img"><img src="https://dms.iitd.ac.in/international/dms_files/d_lama.jpg" alt=""></div>


                  <div class="post-desc">
                    <h4>It was a great seminar at IIT-D..</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit agna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea c  reprehenderit i giat nulla pariatur.  i officia deserunt mollit anim id est laborum.</p>
                  </div>

                  <div class="post-features">
                    <button id="upvote" type="button" name="button">Upvote</button>
                    <button id="downvote"type="button" name="button">Downvote</button>
                    <button id="comment" type="button" name="button">Comment</button>
                  </div>
                </div>

              </div>
            </section>
        </section>




        <section>
            <div class="user-right-block">
              <div class="add-container">
                <img src="https://blog.littledata.io/wp-content/uploads/2019/02/google-ads.jpg" alt="">
              </div>
            </div>
        </section>
</div>



</section>





































<script src="/javascript/profile.js"></script>

</body>

</html>
