*{
  padding: 0;
  margin: 0;
}


.navbar{
  height: 8vh;
  opacity: 0.9;
}

.main-container{
  display: flex;
  flex: 1;
  position: relative;
  top: 8vh;
}

.left-div{
  width: 20%;
  height: 92vh;
  position: fixed;
  left: 0px;
  top: 8vh;
  overflow-y: scroll;

}


.mid-div{
  width: 60%;
  position: relative;
  left: 20%;
}

.right-div{
  position: relative;
 width: 20%;
 left:20%;
}

.today-doubt{


  overflow-y: visible;

}

.doubt-div-left{
  height: 8vh;
  border: 2px solid #cccccc;
  margin-bottom: 0.5vh;
}
.doubt-div-left:nth-last-of-type(1){
  margin-bottom: 0;
}

.category-doubt{
  text-align: center;
  background: #7880b5;
  height: 4.8vh;
  color: white;
  font-size: 18px;
  margin: 0;
  padding: 0.8vh 0;
  position: relative;
  border-bottom: 2px solid #cccccc;

}

.new-post{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  padding: 0 3%;
  background: #dddddd;
}

.new-post-text, .post-search{
  width: 45%;
  height: 70%;
  display: flex;
  align-items: center;
  padding: 0px 3%;

}
.new-post-text{
  border: 2px solid #cccccc;
  cursor: pointer;
}

.new-post-text:hover{
  background: white;
}
.fa-newspaper{

  margin: 0px !important;
font-size: 25px !important;
margin-right: 10px !important;
color: #444444;
}

.fa-arrows-alt-v{
  font-size: 15px !important;
  color: white;
  position: absolute;
  right: 20px;
  top: 1.4vh;
  cursor: pointer;
  margin: 0 !important;
}
