*{
  padding: 0;
  margin: 0;
}

.navbar{
  height: 8vh;
  opacity: 0.9;
}

/* breakpoints   */

@media screen and (max-width: 576px){

  .main-container{
    display: block !important;
  }

  .left-section{
    width: 0% !important;
    opacity: 0;
  }
  .mid-section{
    width: 100% !important;
    height: 200vh;
    left:0 !important;
  }

  .trending-posts{
    display: block !important;
  }

  .tr-posts{
    width: 90% !important;
    margin: 4vh auto !important;
  }
}

.main-container{
  display: flex;
  flex: auto;
  position: relative;
   top: 8vh;

}

.left-section{
  width: 15%;
 height: 92vh;
 background: #4D217B;
 position: fixed;

}

.left-section-min{
  left: -15%;
}

.mid-section{
  width: 85%;
  height: 200vh;
  position: relative;
  left:15%;
}

.mid-section-max{
  width: 100% !important;
  left: 0% !important;
}

.right-section{
  width: 20%;
  height: 60vh;
  position: relative;
  left:20%;
  top: 28vh;
}

.sidebar-img{
  padding-top: 3vh;
text-align: center;
}
.sidebar-img img{
 clip-path: circle();
  width: 6vw;

}

.profile{
  color: white;
  text-align: right;
  padding-right: 2vw;
}

.genretxt{
  color:white;
  background: #863ED2;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:3vh;
  font-size: 22px;
}
.genre{
  display: flex;
  justify-content: center;
  color: white;
}

.genre ol{
  list-style: none;
  width: 100%;
}

.genre li{
  display: flex;
  align-items: center;
  height: 8vh;
  justify-content: center;
}

.genre li:hover{
  background: #863ED2;
 opacity:0.8;
 cursor: pointer;
}

.genre li:active{
  background: #863ED2;
 opacity:0.8;
}


.user-right-block{
  margin-top: 2vh;
  height: 30vh;
  width: 30vh;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.15);
  display: flex;
  align-items: center;

}

.add-container{
  overflow:hidden;
  padding: 0vh 1vh;

}
.add-container img{
  width: 100%;
  height: 100%;
  overflow:hidden;
  border-radius: 20px;
}

.search-input-div{
  margin: 0 auto;
  display: flex;
}

.searchbar-div{
  z-index: 10;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchbar-bg{
  width: 100% !important;
  z-index: -10;
  top: 0px;
  position: absolute;
  height: 25vh;
  /* background: url('https://images.unsplash.com/photo-1505996000701-debaf9186e2d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1052&q=80');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  background: linear-gradient(90deg, #020122, 50%, #863ED2);
  border-left: 2px solid white;

}

.search-bar{
  height: 7vh;
  width: 23.5vw;

  background: white;
  opacity: 0.7;
  font-size: 20px;
  text-align: center;
  border-radius: 30px;
  border: 2px solid white;
}

.search-bar:focus{
  outline: none;
  background: white;

  opacity: 1;
  border: 0px;
}

.searchbar-bg h1{
  color: #020122;
  text-align: center;
  font-size: 150px;
  padding: 0;
  margin: 0;
}

.profile a{
  color: white;
  text-decoration: none;
}

#search-icon{

  transform:translateX(-70px);
  color: black;
  cursor: pointer;
  opacity: 1;
}

/* newww events page*/


.fa-bars{
  color: white;
  cursor: pointer;
  transform: translateY(-9vh);
}

.trending-posts-txt{
  background: rgba(10,10,10,0.1);
  padding-left: 3vw;
  padding-top: 2vh;
  margin: 0 !important;
}

.trending-posts{
  display: flex;
  flex: 1;
  background: rgba(10,10,10,0.1);
}

.tr-posts{
  width:35%;
  height: 46.9vh;
  background: white;
  cursor: pointer;
  margin: 6vh 1.66%;
  z-index: 100;
}

.post-header{
  display: flex;
  align-items: center;
}

.header-post-img{
  clip-path: circle();
  width: 3vw;
}
.header-left{
  margin-left: 1vw;
}
.header-mid{
  margin-left: 2vw;
  margin-top: 2vh;
}
.post-img{
  margin-top: 1vh;
  height: 35vh;
}
.post-img img{
  overflow: hidden;
  width:100%;
  height: 100%;

}

.tr-post-hover{
  display: block;
  height: 46.9vh;
  z-index: 100;
  opacity: 0;
  background: rgba(0,0,0,0.5);
  transform: translateY(-46.9vh);
}

.tr-post-hover div{
  opacity: 1 !important;
  font-size: 22px;
  width: 150px;
  height: 6vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background: white;
  transform: translateY(21.2vh);
  border: 5px solid #4D217B;
  border-radius: 20px;
}
