<script src ="/javascript/lib/jquery.js"></script>
<script src="/javascript/gossip.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/javascript/socket/client.js"></script>
<!-- <script>
      var socket = io();

      socket.on('message', message =>{
        console.log(message);
      });









      $('.send-msg-btn button').on('click', (e)=>{

        e.preventDefault();

        var msg = $('.send-msg-input input').val();

        socket.emit('chatMessage',msg);
      });

</script> -->

</body>
</html>
